h1{text-align: center;}
section{background-color:lightgrey;box-sizing:border-box;padding: 1%;border: 1px solid black;position: relative;}
.box{border: 1px solid black; position: absolute;top:0;right:0;background-color: red;padding-right:3%;padding-left: 3%}
.text{margin-top: 20px}

@media (min-width:992px){
section{
  float: left;
  width: 30%;
  position: relative;
  top: 100px;

}
#section1{
  margin-left: 2.5%; margin-right:2.5%
}
#section3{
  margin-left: 2.5%; margin-right:2.5%
}
}
@media (min-width: 768px) and (max-width: 991px)
 {
section{
  float:left;}
#section1{width:48%;margin-right: 2%;margin-left: 1%}
#section2{width:48%;margin-right: 1%}
#section3{width: 98%;margin-top: 4%;margin-left:1%;margin-right:1%}

}
@media(max-width:767px) {
section{width:98%;margin-bottom:2%;float:left;margin-left:1%;margin-right:1%}

}
